.banner {
  display: flex;
  padding: 60px 120px;

  align-items: center;
  background-color: antiquewhite;
}
.shop-title {
  color: #272727;
  font-weight: bold;
  font-size: larger;
}

.btn {
  background-color: crimson;
  color: white;
  padding: 8px 16px;
}

.featured-flower {
  text-align: center;
  margin: 120px;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pink {
  background-color: blanchedalmond;
}

.red {
  background-color: aquamarine;
}

.yellow {
  background-color: cadetblue;
}

.delivery {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  padding: 48px;
  margin-top: 80px;
}

.discount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: antiquewhite;
  padding: 64px 180px;
}

.insta {
  justify-content: space-between;
  text-align: center;
}
.deal {
  background-image: url("Flower Asset/Rectangle\ 9.png");
  text-align: center;
  padding: 140px;
  margin: 80px;
}

input {
  width: 280px;
  height: 40px;
}

.finish {
  text-align: center;
  color: white;
  background-color: black;
  padding: 140px;
}

.colour {
  color: crimson;
}
